    <!-- navbar -->
    <app-navbar></app-navbar>
    
    <!-- product section -->
    
    <section id="product" class="section-p1 ">
        <div class="pro-container">
            
            <div class="pro" >
                <a routerLink=""><img src="https://rukminim1.flixcart.com/image/612/612/xif0q/dress/r/x/a/xs-17647078-bebe-original-imaghpzthfkgrud7.jpeg?q=70"></a>
                <div class="details">
                <h4>Roadster</h4>
                <p>Casual Cutout Solid Women Tops</p>
                <h5 id="price">Rs.200<span id="tag">Price:</span><span id="value">Rs.400</span></h5>
                
                </div>
                <a href=""><i class="fa-solid fa-bag-shopping bag"></i></a>
            </div>
    
        </div>
        </section>