<app-navbar></app-navbar>

<!-- blog section -->
<section id="page-header">
    <h2>#let's talk</h2>
    <p>LEAVE A MESSAGE,we love to hear from you!</p>
</section>


<!-- contact details section -->
<section id="contact-details" class="section-p1">
    <div class="details">
        <span>GET IN TOUCH</span>
        <h2>Vist one of our location or contact us today</h2>
        <h3>Head Office</h3>
        <div>
            <li>
                <i class="fa-solid fa-location-dot"></i>
                <p>WMVX+9F6, Bellandur Railway Station Rd, Kadubeesanahalli, BengaluruWMVX+9F6, Bellandur Railway Station Rd, Kadubeesanahalli, Bengaluru</p>
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                <p>mm@gmail.com</p>
            </li>
            <li>
                <i class="fas fa-phone-alt"></i>
                <p>mm@gmail.com</p>
            </li>
            <li>
                <i class="far fa-clock"></i>
                <p>Monday to Saturday:9:00 am to 16 pm</p>
            </li>
        </div>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62215.62371131122!2d77.66836593980773!3d12.941333554314259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae134779c74969%3A0x726990f6a50a2a20!2sMyntra%20Office!5e0!3m2!1sen!2sin!4v1676212854254!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<!-- form details section -->
<section  class="section-p1">
    <h2 id="talk">Say Something </h2>
    <div id="form-details">
    <form>
        <span>LEAVE A MESSAGE</span>
        <h2>We love to hear from you</h2>
        <input type="text" placeholder="Your Name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Subject">
        <textarea name="" id="" cols="30" row="15" placeholder="Your Message"></textarea>
        <button class="normal">Submit</button>
    </form>


    <div class="review">
        <div class="customer">

            <div class="div">
                <img src="https://images.unsplash.com/photo-1508341591423-4347099e1f19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWVufGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
                <p><span>I am Ayush</span>I like MyMyntra the products are really good</p>
            </div>

            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
            </div>
            
        </div>

        <div class="customer">

            <div class="div">
                <img src="https://www.forbesindia.com/media/wpower2020/ankiti%20bose.jpg" alt="">
                <p><span>I am Ganga</span>The mymyntra products are buget friendly, and so stylish</p>
            </div>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
   
        </div>    

        <div class="customer">

            <div class="div">
                <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                <p><span>I am Naveen</span>, nothing to say its just sooper I really really love this </p>
            </div>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>   

        <div class="customer">

            <div class="div">
                <img src="https://images.unsplash.com/photo-1617077644557-64be144aa306?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmVhdXRpZnVsJTIwd29tZW58ZW58MHx8MHx8&w=1000&q=80" alt="">
                <p><span>Hai I'm Diya</span>The MyMyntra services are so good their delivery date, refunds pickup are so ordered </p>
            </div>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>

    </div>
</div>
</section>

    <!-- Newsletter section -->
    <section id="newsletter"  class="section-m1">
        <div class="newstext">
            <h3>Sign Up for Newsletters</h3>
            <p>Get updates about our latest shop and <span>Special Offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button type="button">SignUp</button>
        </div>
    </section>
        
    <!-- footer section -->
    <footer class="section-p1">
        <div class="footer">
        <div class="logo" class="col">
            <img style="width: 70px;" src="https://i.fbcd.co/products/resized/resized-750-500/6f2345032c698b53fe63513729ebe849c89c5d8682ce78cc2e645ee5914238d6.jpg" alt="">
            <h4>Contact Us</h4>
            <p><strong>Address: </strong> WMVX+9F6, <br>Bellandur Railway Station Rd,<br> Kadubeesanahalli, Bengaluru,<br> Karnataka 560103</p> 
            <p><strong>Hours: </strong>Any time 24/7</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="">About Us</a>
            <a href="">Delivery Informations</a>
            <a href="">Privacy Policy</a>
            <a href="">Terms & Conditions</a>
            <a href="">Contact Us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="">Sign In</a>
            <a href="">View Cart</a>
            <a href="">My Wishlist</a>
            <a href="">Track My Orders</a>
            <a href="">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store and Google play</p>
            <div class="row">
                <img style="width: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/2560px-Download_on_the_App_Store_Badge.svg.png" alt=""> 
        
                <img style="width: 100px;" src="https://assets.thehansindia.com/h-upload/2021/10/07/1115962-google-play-store.webp" alt="">
            </div>
            <p>Secure Payment methods</p>
            <img style="width: 200px;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT38t7HVKa6UiNZbyFbQjwggRoahQj13WdpuyvcK7sftF8OtYr2yk0JxJIck87rJJs0xw&usqp=CAU" alt="">
        </div>
        </div>
        <div class="copyright">
            <p>&copy;2023, Gulu's Ecommerce Website Template</p>
        </div>
        
    </footer>