@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Acme&family=Fredoka+One&family=Kenia&family=La+Belle+Aurore&family=Lobster&family=Monoton&family=Pacifico&family=Playfair+Display:ital@1&family=Rowdies&family=Rubik+Vinyl&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Spara; */
}
h1{
    font-size: 50px;
    line-height: 64px;
    color:#222
}
h2{
    font-size: 50px;
    line-height: 64px;
    color:#222
}
h4{
    font-size: 20px;
    color:#222
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    /* line-height: 64px; */
    color:#465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    margin: 40px 80px;
}
.section-m1{
    margin: 50px 0;

}
body{
    width: 100%;
}

/* single product section */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 23vw;
    margin-left: 50px;
    margin-right:50px ;
    margin-top: 20px;
    height: 59vh;
}

#prodetails .single-pro-image #singleImage{
    width: 100%;
    height: 100%;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;

}

#prodetails .single-pro-details h6{
    padding: 5px 0 20px 0;

}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin: 10px 0 10px 0;
}


#prodetails .single-pro-details input{
    width: 45px;
    height: 45px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}


#prodetails .single-pro-details #cart{
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    background-color: rgb(247, 185, 104);
    margin-right: 10px;
}

#prodetails .single-pro-details #cart:hover{
    font-size: 18px;
    background-color: #2dca18;
    color: antiquewhite;
}

#wish{
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    background-color: rgb(226, 151, 174);
}

#prodetails .single-pro-details #wish:hover{
    font-size: 18px;
    background-color: #da1276;
    color: antiquewhite;
}

#prodetails .single-pro-details h4{
    margin-top: 20px;
}

#prodetails .single-pro-details span{
    line-height:25px ;
    text-align: justify;
}

/* ******************** feature product section css****************** */

#product h1,p{
    text-align: center;
}

#product #pro-title, #title-para{
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

#product .pro-container{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    
}

#product .pro-container .pro{
    width: 250px;
    border: 1px solid rgb(221, 230, 228);
    /* position: relative; */
    background-image: url('https://previews.123rf.com/images/flas100/flas1001306/flas100130600099/20379223-abstract-light-color-watercolor-background.jpg');
    margin-top: 30px;
}

#product .pro-container .pro:hover{
    width: 255px;
    background-image: url('https://www.polytec.com.au/img/products/960-960/magnetic-bright-white.jpg');
}

#product .pro-container .pro img{
    box-shadow: 20px 20px 14px rgba(91, 97, 94, 0.09);
    width: 100%;
    height: 45vh;
}


#product .pro-container .pro .details{
    padding: 10px;
    margin-bottom: -40px;
}

#product .pro-container .pro .details p{
    font-size: 14px;
    margin-top: -.3px;
}

#product .pro-container .pro .details h5{
    margin-top: -16px;
}

#product .pro-container .pro .bag{

    background-color: aliceblue;
    border-radius: 50px;
    border: 1px solid rgb(193, 245, 236);
    line-height: 35px;
    width: 40px;
    height: 40px;
    color: rgb(61, 201, 177);
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: 1px;
    right: 10px;
    float: right;
}


/* Newsletter section css */
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/573130/pexels-photo-573130.jpeg?cs=srgb&dl=pexels-zulian-yuliansyah-573130.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 30%;
    height: 100%;
    padding: 30px 60px;
}

#newsletter h3{
    font-family:'Fredoka One', cursive ;
    color: wheat;
    text-shadow: 1px 1px black;
}

#newsletter p{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#newsletter p span{
    color: rgb(43, 119, 43);
    font-size: 20px;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height:3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: bold;
}

#newsletter button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #088178;
    color: #ffff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* footer */
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 15px;
    padding-bottom: 20px;
}
footer p{
    font-size: 14px;
    margin-bottom:8px ;
}
footer a{
    font-size: 14px;
    margin-bottom:10px ;
    text-decoration: none;
    color: #222;
}

#product h1, p {
    text-align: justify;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border-radius: 8px;
    padding-right: 4px;
    height: 40px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
.copyright{
    text-align: center;
    width: 100%;
}





/* media query for make site responsive */
@media (max-width:799px){

    .section-p1{
        margin: 40px 40px;
    }

    /*news letter form responsive*/

    #newsletter .form{
        display: flex;
        width: 70%;
    }

    /*single product details */

    #prodetails .single-pro-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #prodetails .single-pro-details{
        width: 100%;
    }

    /* feature products */
    #product #pro-title{
        font-size: 33px;
    }

    #product p{
        margin-top: -10px;
    }

    .section-p1{
        margin: 40px 40px;
    }
    
    #product .pro-container{
        justify-content: center;
    }

    #product .pro-container .pro{
        width: 250px;
        border: 1px solid rgb(221, 230, 228);
        background-image: url('https://thumbs.dreamstime.com/b/abstract-light-art-painting-background-modern-contemporary-artistic-textures-soft-pastel-colors-176980425.jpg');
        margin-top: 30px;
        margin: 15px;
    }

    #product .pro-container .pro  img {
        box-shadow: 20px 20px 14px rgba(91, 97, 94, 0.09);
        width: 100%;
        height: 25vh;
    }
}


@media(max-width:477px){

    /* single product details */

    #prodetails{
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    #prodetails .single-pro-image{
        width: 100%;
        
    }

    #prodetails .single-pro-details{
        width: 100%;
    }

    #prodetails .single-pro-details h3,h6{
        display: inline;
        margin-right: 10px;
    }

    #prodetails .single-pro-details h6{
        font-size: 16px;
        font-weight: 1px;
        color: #222;
    }


    #prodetails .single-pro-details select{
        margin: 10px 0px 20px 0px;
        border: 1px solid;
    }

    #prodetails .single-pro-details select option{
        width: 5px;
        height: 8px;
        font-size: 12px;
    }

    #prodetails .single-pro-details input{
        border: 1px solid;
        font-weight: bold;
        font-size: 20px;
    }

    /* feature products */

    #product h1,p{
        text-align: center;
    }

    #product h1{
        font-size: 35px;
    }

    #product p{
        margin-top: -10px;
    }
    /*news letter form responsive*/

    #newsletter p {
        font-size: 16px;
    }

    #newsletter  p span {
        font-size: 18px;
    }

    #newsletter .form{
        width: 100%;
    }

    /* product section responsive*/

    #product .pro-container .pro {
        width: 100%;
    }
    
    #product .pro-container .pro img {
        box-shadow: 10px 10px 4px rgba(91, 97, 94, 0.09);
        width: 100%;
        height: 38vh;
    }

    /* footer section responsive */

    footer .col {
        margin:0px 15px 0px 0px;
    }

    .copyright {
        text-align: start;
    }
}